parameters:
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludes_analyse:
  	- tests/*
includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
